body{
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
}

.the-simpsons{
    display: flex;
}

.the-simpsons a {
    background-color: rgb(248, 135, 59);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}

.the-simpsons p {
    margin: 40px 0px;
}

.the-simpsons-headers{
    font-family: 'Roboto Serif', sans-serif;
    border-left: 5px solid rgb(248, 135, 59);
}

.the-simpsons-headers h1{
    padding-left: 1%;
    font-weight: 600;
    font-size: 50px;
    margin: 5px;
}

.orang-color{
    color: orange;
}

.width-50-percent{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}


#simpson-family-img{
    width: 350px;

}