body{
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
}

.the-simpsons{
    display: flex;
    margin-top: 50px;
}

.the-simpsons a {
    background-color: rgb(248, 135, 59);
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}

.the-simpsons p {
    margin: 40px 0px;
}

.the-simpsons-headers{
    font-family: 'Roboto Serif', sans-serif;
    border-left: 5px solid rgb(248, 135, 59);
}

.the-simpsons-headers h1{
    padding-left: 1%;
    font-weight: 600;
    font-size: 50px;
    margin: 5px;
}


.the-simpson-family-childrens{
    margin-top: 150px;
}

.the-simpson-family-childrens h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.simpson-siblings{
    width: 30%;
    border-radius: 20px;
    padding: 0px 30px 20px;
}

#bart{
    background-color: rgba(139, 173, 216, 0.205); 
    margin: 0px 10px 0px 150px;
}

#bart img{
    width: 80px; 
    height: 100px; 
    padding-top: 30px;
}

#lisa{
    background-color: rgba(236, 245, 110, 0.514); 
    margin: 0px 30px;    
}

#lisa img{
    width: 60px; 
    height: 90px; 
    padding-top: 30px;
}

#maggie{
    background-color: rgba(228, 138, 36, 0.301);
    margin: 0px 150px 0px 10px;
    
}

#maggie img{
    width: 60px; 
    height: 90px; 
    padding-top: 30px;
}

.simpson-childrens{
    display: flex;
}

.simpson-wife{
    margin-top: 150px;
    background-image:url(images/shape-1.png); 
    background-repeat: no-repeat; 
    background-size: 150px; 
    background-position: 140px 100px;
}

.simpson-wife img{
    width: 300px; 
    height: 350px; 
    margin-left: 200px; 
    border-radius: 20px;
}

.simpson-wife-desc{
    margin-right: 150px; 
}

.simpson-wife h3{
    font-weight: 600; font-size: 30px; margin-bottom: 0px;
}
.simpson-wife p {
    margin-top: 20px;
}

.orang-color{
    color: orange;
}

.width-50-percent{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

.width-60-percent{
    width: 60%;
}

.width-40-percent{
    width: 40%;
}


#simpson-family-img{
    width: 350px;

}

#scroll-text{
    font-size: 0.9em;
}